@CHARSET "ISO-8859-1";
.restaurant-list img {
  margin-left: none;
  margin-right: none;
  margin-top: 35px;
  float: left;
  position: relative;
}

.restaurant-list h3{
	margin-top: 0px;
	margin-left: 64px;
}

.restaurant-list p{
	margin-left: 64px;
}

.restaurant-list btn{
	margin-botton: 0px;
}
.restaurant-list {
	margin-top: 5px;
}
